body
	{
	color: 				#000000 ;
	background-color: 	#F0F0F0 ;
	}
p.hanging 	{
	margin-left: 	30px 	;
	margin-right: 	30px 	;
	text-indent:   -15px 	;
	max-width: 		1000px 	;
	}
p 	{
	margin-left: 	15px 	;
	margin-right: 	30px 	;
	text-indent:    2px 	;
	max-width: 		1000px 	;
	}
ul	{
	list-style-type: circle
	}
ul.references
	{
 /*	font-family: 		sans-serif;*/
	margin-left: 		15pt 	;
	text-indent:   		-15pt 	;
	list-style-type: 	none	;
	font-size: 			90%		;
	}
th	
	{
	text-align:				center	;
	color:					#000000	;
	background-color:		#8080FF	;
	}
